<!doctype html>
<html>
   <body>
      <h1> Account Info </h1>
      <table border = 1>
         <thead>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>Password</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["firstname"]}}</td>
               <td>{{row["lastname"]}}</td>
               <td> {{row["username"]}}</td>
               <td>{{row["email"]}}</td>
               <td>{{row["password"]}}</td>
            </tr>
         {% endfor %}
      </table>



   </body>
</html>
